h1 {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  color: rgb(251, 182, 64);
  text-align: center;
}

h2 {
  color: rgb(130, 224, 131);
}

img {
  width: 500px;
  height: auto;
}

div {
  text-align: center;
}
